## Python Basics Assignment

1.  What is Python, and why is it popular?
- Python is a programming language that is easy to understand and write.It
 also has an extensive standard Library and it is object oriented and functional programming Language.

2. What is an interpreter in Python?
- It is a computer program which converts th code into machine code (byte code)line by line ,one at a time.


3. What are pre-defined keywords in Python?
- Pre-defined keywords are reserved words used in python that have special meanings .
-keywords are case senstive and cannot be re-defined or overridden in Python .
for eg: if,else,elif,while,for,TRUE, FALSE,import,return,NONEetc.

4. Can keywords be used as variable names?
- No, Keywords  cannot be used as Variable names or function names.

5. What is mutability in Python?
- In Python, mutability means to change or modify .
Objects in python can be either changeable or unachangeable.
Mutable objects Eg: Lists , dictionaries which can be modidifed after creation.

6.Why are lists mutable, but tuples are immutable?
- Lists and tuples handled differently in Python. Immutable objects such as Tuples are quicker to use and access and can be used to secure data where content of the object cannot be changed.
-Whereas if we talk about lists which are mutable are used extensively for data purposes where content needs to be changed and comparitively difficult to handle as in larger data units because of lot of insertion and modification in content.


-

7. What is the difference between “==” and “is” operators in Python?
-In Python, "==" and "is" operator both are comparison operators but they served different purposes.

"==" operator checks whether the values of two objects are same .
## code eg:

In [2]:
A = [1,2,3]
B = [1,2,3]
if A==B:
  print("True")
else:
  print("False")

True

"is" operator is used to compared based on their identity.

#Code eg:

In [3]:
A = [1,2,3]
B = [1,2,3]
if A is B:
  print("True")
else:
  print("False")

False

8. What are logical operators in Python?
-Logical operators in python used in conditional statements and allow to perform operations based on multiple conditions.
Logical ops. : and , or , not

9.  What is type casting in Python?
-Type casting is a process through which we can convert one data type into anotehr in Python.It is also known as Type conversion.
It is of 2 types:

*Implicit Type Casting

*Explicit Type Casting

10. What is the difference between implicit and explicit type casting?
- Implicit Type Casting:
In this type casting , Python converts data into another datatype automatically and without any instruction.

#code Eg:

In [5]:
a = 5
b = 7.3
print(a+b)
print(type(a+b))

12.3
<class 'float'>

- Explicit Type Casting:
In this type casting user need to provide or use predefined fucntions to convert one datatype into another like int(),float(),str(),etc.

#Code eg:

In [10]:
a = 5 #int datatype converted into float datatype.
float(a)

5.0

11.  What is the purpose of conditional statements in Python?
- Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
These statements help control the flow of a program

Python have conditional statements such as if, elif (else if), and else to control the flow of execution.

12. How does the elif statement work?
-elif statement stands for "else if".It can be used to check multiple conditions.

#code eg:

In [12]:
Age = 24
if Age < 18:
  print("teenager")
elif 18 < Age < 25:
  print("Young Adult")
else:
  print("Adult")

Young Adult

13.  What is the difference between for and while loops?
-for loop are used to iterate over a sequence of elements .

-while loop are used to execute code until a specified condition becomes false.

#Code eg:

In [13]:
for i in range(3):# for loop use :
  print(i)

0
1
2

In [14]:
count = 0
while count < 3:
  print(count)
  count += 1

0
1
2

14. Describe a scenario where a while loop is more suitable than a for loop?
-A while loop is more suitable when you don't know in advance how many times user want to execute the code. It continues to execute until the condition is true.

In [16]:
count = 0
while (count < 5):
    count = count + 1
    print("Hello Yogesh")

Hello Yogesh
Hello Yogesh
Hello Yogesh
Hello Yogesh
Hello Yogesh

### **Practical** **Questions**

1. Write a Python program to print "Hello, World!

In [20]:
print( "Hello, World")

Hello, World

2.  Write a Python program that displays your name and age.

In [21]:
name = input("enter your name")
age = int(input("enter your age"))
print(f"My name is {name} and my age is {age}")

enter your nameYogesh Singh Rawat
enter your age24
My name is Yogesh Singh Rawat and my age is 24

3.  Write code to print all the pre-defined keywords in Python using the keyword library.

In [24]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4.  Write a program that checks if a given word is a Python keyword.

In [35]:
s = 'for'

# Check if it's a Python keyword
if keyword.iskeyword(s):
    print(f"'{s}' is a Python keyword.")
else:
    print(f"'{s}' is not a Python keyword.")

'for' is a Python keyword.

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [41]:
my_list = ["fruits", "yogurt", "milk"]#list changing an element
my_list[2]  = "juice"
my_list

['fruits', 'yogurt', 'juice']

In [45]:
a = ("fruits", "yogurt", "milk")
a[2] = "juice"
print(a)

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable
arguments.

In [46]:
tuple1 = (0, 1, 2, 3) # Python code to test that tuples are immutable
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [47]:
my_list = ["fruits", "yogurt", "milk"]#list changing an element shows mutability
my_list[2]  = "juice"
my_list

['fruits', 'yogurt', 'juice']

7. Write a program that performs basic arithmetic operations on two user-input numbers

In [48]:
a = 5
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

8
2
15
1.6666666666666667
125
1
2

8.  Write a program to demonstrate the use of logical operators.

In [49]:
a = 10 # and operator
b = 12
c = 0
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

In [50]:
a = 10 # or operator
b = 12
c = 0
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

In [51]:
a = 10 # not operator

if not (a % 3 == 0 or a % 5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

9. Write a Python program to convert user input from string to integer, float, and boolean types.

In [54]:
s = "123" # string into integer
num = int(s)
print(num)

123

In [55]:
s = "123"  #string into float
num = float(s)
print(num)

123.0

In [58]:
string_value1 = "My name is yogesh" # string to boolean
string_value2 = ""
boolean_value1 = bool(string_value1)
boolean_value2 = bool(string_value2)
print(boolean_value1)
print(boolean_value2)

True
False

10. Write code to demonstrate type casting with list elements.

In [69]:
a = [1,2,3,4,5]
b = [str(i) for i in a]
print(b)

['1', '2', '3', '4', '5']

11.  Write a program that checks if a number is positive, negative, or zero.

In [64]:
n = 10
if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

Positive

12. Write a for loop to print numbers from 1 to 10

In [65]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [67]:
for number in range(1, 51):
   if number % 2 == 0:
     sum_of_evens += number
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

NameError: name 'sum_of_evens' is not defined

14. Write a program to reverse a string using a while loop.

In [68]:
text = "Hello World"
print(text[::-1])

dlroW olleH

15.Write a Python program to calculate the factorial of a number provided by the user using a while loop